@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.eot?umz5sq')
  src url(icomoon-font-path + '/icomoon.eot?umz5sq#iefix') format('embedded-opentype'), url(icomoon-font-path + '/icomoon.ttf?umz5sq') format('truetype'), url(icomoon-font-path + '/icomoon.woff?umz5sq') format('woff'), url(icomoon-font-path + '/icomoon.svg?umz5sq#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-actors
  &:before
    content icon-actors
.icon-assets
  &:before
    content icon-assets
.icon-attackerprofile
  &:before
    content icon-attackerprofile
.icon-connections
  &:before
    content icon-connections
.icon-edges
  &:before
    content icon-edges
.icon-location
  &:before
    content icon-location
.icon-network
  &:before
    content icon-network
.icon-policies
  &:before
    content icon-policies
.icon-run
  &:before
    content icon-run
.icon-import
  &:before
    content icon-import

