icomoon-font-path ?= "fonts"

icon-actors = "\e900"
icon-assets = "\e901"
icon-attackerprofile = "\e902"
icon-connections = "\e903"
icon-edges = "\e904"
icon-location = "\e905"
icon-network = "\e906"
icon-policies = "\e907"
icon-run = "\e908"
icon-import = "\e909"

