.grey
	color: $trespass_grey_medium

#AnalysisDashboard
	background-color: $bgcolor
	z-index: 999999
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow-x: hidden
	overflow-y: hidden

	display: flex
	flex-direction: row

	.visualization
		background-color: $bgcolor
		flex: 1

		display: flex
		flex-direction: column
		svg
			flex: 1
			width: 100%
			height: 100%

		.topBar
			padding: $panelPadding
			padding-bottom: 10 + $panelPadding
			background-color: white
			margin-right: $panelGapHeight

			& > div
				float: left
				margin-right: 2em

	.secondary-panel
		width: $panelWidth
		margin-right: $panelGapHeight
		padding: $panelPadding
		background-color: white
		overflow: hidden
		overflow-y: auto

	.tools
		width: $resultsPanelWidth
		background-color: white
		padding: $panelPadding
		overflow-y: auto

		.tool-item
			padding: 5px
			margin-bottom: 5px
			font-weight: normal

		&.ready .tool-item:hover
			background: $trespass_grey
			cursor: pointer

	.close-x
		// position: fixed
		// top: 0
		// right: 0
		padding: 0px
		font-size: 30px
		line-height: 22px
		// color: $trespass_red
		cursor: pointer
