$fontSize = 18px


.language
	font-size: $fontSize
	font-weight: 500
	a
		color: $trespass_grey_light
		text-decoration: none

	ul
		list-style-type: none
		padding: 0

	li
		position: relative
		.bar
			height: 1.3em
			top: 0
			background-color: white
			position: absolute
			width: 0%
			z-index: -1
			transition: width 0.5s, height 0.5s, background-color 0.5s;
			&.low
				width: 5%
				background-color: hsla(5, 0, 50, 0.2)
			&.medium
				width: 33%
				background-color: hsla(5, 50, 50, 0.2)
			&.high
				width: 66%
				background-color: hsla(5, 100, 50, 0.4)
			&.veryhigh
				width: 100%
				background-color: hsla(5, 100, 50, 0.6)



.selectize-control
	*
		border-radius: 0 !important

.selectize-dropdown
	padding: 5px !important

// .selectize-input .item
// 	@extend .label.tag


.dropdown-selectize
	&, & *
		box-shadow: none !important

	.selectize-control
		min-width: 200px

		display: flex
		flex-direction: column
		.selectize-input
			width: auto

		.option
			padding: 3px 10px

	.selectize-dropdown
		width: 100% !important

	.selectize-dropdown, .selectize-dropdown-content
		top: 0px
		left: 0px
		position: static
		float: none
		border: none !important
		box-shadow: none
		margin: 0 !important
		padding: 0 !important
		visibility: visible !important
		display: block !important

.dropdown-menu
	&, & *
		box-shadow: none !important

.dropdown-menu .input-group.filter
	padding: 10px
	width: 100%

.dropdown-menu, .dropdown-menu *
	border-radius: 0
	font-size: $fontSize


.selectize-input
	margin: 10px
	// margin-bottom: 0px


.dropdown-selectize
	.dropdown-menu
		padding: 0


.dropdown-menu li[role=presentation]
	background: none
	padding-left: 0
	a[role=menuitem]
		padding: 3px 10px


.dropdown > a
	font-weight: bold
	white-space: nowrap




// visualization ————————————————
.circleComponent.zero:hover
	fill: #fff177
.circleComponent.one:hover
	fill: #ffc670
.circleComponent.two:hover
	fill: #ff7373
.circleComponent.three:hover
	fill: #de3232
.circleComponent.four:hover
	fill: #bf3232
.circleComponent.five:hover
	fill: #a03232

.attacker-desc
	text-align: center
