@import 'selectize.styl'
$fontSize = 18px


.language
	font-size: $fontSize
	font-weight: 500
	a
		color: $trespass_grey_light
		text-decoration: none

	ul
		list-style-type: none
		padding: 0

	li
		position: relative
		.bar
			height: 1.3em
			top: 5px
			background-color: white
			position: absolute
			width: 0%
			z-index: -1
			transition: width 0.5s, height 0.5s, background-color 0.5s;
			&.low
				width: 5%
				background-color: hsla(5, 0, 50, 0.2)
			&.medium
				width: 33%
				background-color: hsla(5, 50, 50, 0.2)
			&.high
				width: 66%
				background-color: hsla(5, 100, 50, 0.4)
			&.veryhigh
				width: 100%
				background-color: hsla(5, 100, 50, 0.6)

	.profile-descrioption
		font-size: 14px
		font-weight: 600

	li > input
		height: 34px;
		border: 0;
		font-weight: 600;
		border-bottom: solid 1px $trespass_grey_light;


// visualization ————————————————
.circleComponent.zero:hover
	fill: #fff177
.circleComponent.one:hover
	fill: #ffc670
.circleComponent.two:hover
	fill: #ff7373
.circleComponent.three:hover
	fill: #de3232
.circleComponent.four:hover
	fill: #bf3232
.circleComponent.five:hover
	fill: #a03232

.attacker-desc
	text-align: center
