font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-ExtraLight', 200);
font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-ExtraLightIt', 200, italic);

font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-Light', 300);
font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-LightIt', 300, italic);

font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-Regular', 400);
font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-It', 400, italic);

font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-Semibold', 600);
font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-SemiboldIt', 600, italic);

font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-Bold', 700);
font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-BoldIt', 700, italic);

font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-Black', 900);
font-face('SourceSansPro', '../fonts/SourceSansPro/SourceSansPro-BlackIt', 900, italic);


html, body
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100vh;

body
	background-color: $trespass_grey;
	font-family: $font;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
