.component-reference
	display: inline-block
	cursor: help
	border-radius: 0.8em
	padding-left: 0.4em
	padding-right: 0.4em
	background-color: $bgcolor

.component-reference:hover
	background-color: $trespass_red
