.component-reference
	display: inline-block
	cursor: help
	border-radius: 0.8em
	padding-left: 0.4em
	padding-right: 0.4em
	// background-color: $bgcolor
	background-color: $nodeFill
	color: white !important
	font-weight: 500 !important

	&, *
		font-size: 14px !important

.component-reference:hover
	background-color: $trespass_red
