.context-menu
	cursor: pointer

	text
		&, & tspan
			alignment-baseline: middle
			text-anchor: middle
			pointer-events: none
			fill: black

		&.icon
			font-size: 20px
		&.label
			font-family: $font
			font-size: 10px
			font-weight: 500

	.destructive
		text, tspan
			fill: $trespass_red

	.menu-item
		fill: white
		stroke-width: 0.5px
		stroke: white
	.menu-item:hover
		fill: lightgrey
		stroke: lightgrey
