.edge-group
	$previewEdgeWidth = 5

	.edge
		stroke-width: 15
		stroke: rgb(170, 170, 167)
		fill: none

		&.preview
			stroke-width: $previewEdgeWidth

		&:hover, &.preview
			stroke: $edgeStrokeSelected !important
		&.selected
			stroke: $edgeStrokeSelected !important

	.edge.predicate
		stroke-width: $previewEdgeWidth
		// stroke: $edgeStroke
		stroke: $nodeFill

	.arrowhead
		fill: $nodeFill

	&.selected, &:hover
		.arrowhead
			fill: $edgeStrokeSelected

	.label
		font-size: 14px
		font-family: $font
		font-weight: 500
		fill: white
		opacity: 1
		text-anchor: middle
		alignment-baseline: middle
		pointer-events: none
