.edge-group
	.edge
		stroke-width: 5
		stroke: $edgeStroke
		fill: none

		&:hover, &.preview
			stroke: $edgeStrokeSelected
		&.selected
			stroke: $edgeStrokeSelected

	.label
		font-size: 14px
		font-family: $font
		font-weight: 500
		fill: white
		opacity: 1
		text-anchor: middle
		alignment-baseline: middle
		pointer-events: none
