.edge-group
	$previewEdgeWidth = 5.5px

	.edge
		stroke-width: 25px
		stroke: rgba($nodeFill, 0.25)
		fill: none

	.edge.predicate
		stroke-width: $previewEdgeWidth
		stroke: $nodeFill

	.arrowhead
		fill: $nodeFill

	&.preview
		.edge
			stroke-width: $previewEdgeWidth

	&:hover
		.arrowhead
			fill: $edgeStrokeSelected
		.edge
			stroke: $edgeStrokeSelected !important

	&.selected
		.arrowhead
			fill: $edgeStrokeSelected
		.edge
			stroke: $edgeStrokeSelected !important

	.label
		font-size: 14px
		font-family: $font
		font-weight: 500
		fill: white
		opacity: 1
		text-anchor: middle
		alignment-baseline: middle
		pointer-events: none
