.group-group
	$selectedFill: orange

	.group
		fill: white
		opacity: 0.25

	.group.selected
		fill: $selectedFill

	.label
		font-size: $baseFontSize
		font-family: $font
		// fill: white
		fill: $trespass_red
		// opacity: 0.33
		text-anchor: middle
		alignment-baseline: middle
		pointer-events: none

	.dropzone
		stroke: black
		stroke-width: 2
		stroke-dasharray: 5, 5
		fill: white
		fill-opacity: 0.75
