.group-group
	.group
		fill: $groupFill
		stroke-width: 0

	.group.selected
		fill: $groupFillSelected
		stroke-width: 3
		stroke: $groupStrokeSelected

	.label
		font-size: $baseFontSize
		font-weight: 600
		font-family: $font
		// fill: white
		fill: $groupLabelColor
		// opacity: 0.33
		text-anchor: middle
		alignment-baseline: middle
		pointer-events: none

	.dropzone
		stroke: black
		stroke-width: 2
		stroke-dasharray: 5, 5
		fill: white
		fill-opacity: 0.75
