.group-group
	.group
		fill: $groupFill
		stroke-width: 0

	.group.selected
		fill: $groupFillSelected
		stroke-width: 3
		stroke: $groupStrokeSelected

	.label
		font-size: $baseFontSize
		font-weight: 600
		font-family: $font
		// fill: white
		fill: $groupLabelColor
		// opacity: 0.33
		text-anchor: middle
		alignment-baseline: middle
		pointer-events: none

	.dropzone
		// stroke: $trespass_black
		stroke: white
		stroke-width: 3
		stroke-dasharray: 10, 10
		fill: none
		// fill: white
		// fill-opacity: 0.75
