@import 'kouto-swiss'

@import 'variables.styl'
@import $bootstrap-path
@import $fontawesome-path
@import 'common.styl'

@import 'layers.styl'
@import 'ValidationLayer.styl'
@import 'ToolChainOverlay.styl'
@import 'component-reference.styl'


// LAYOUT
*
	box-sizing: border-box

body
	margin: 0
	padding: 0
	width: 100%
	height: 100vh
	background: white
	position: relative
	overflow: hidden


#meta
	position: fixed
	bottom: 0.5em
	left: 0.5em
	font-size: 12px


#layersControl
	position: fixed
	top: 0
	right: $panelWidth
	padding-top: 0.5em
	padding-right: 0.5em
	font-size: 12px

#meta, #layersControl
	z-index: 1


#app
	position: absolute
	width: 100%
	height: 100%
	overflow: hidden

	#container
		display: flex
		height: 100%

		#map-container, #panel-container, .graph-container
			height: 100%

		#map-container
			flex: 1
			position: relative

		#introduction
			position: absolute
			width: 100%
			height: 100%
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center

			#intro-box
				padding: 20px
				width: 400px
				height: auto
				background-color: $bgcolor


		#model-debug-view
			flex: 1
			width: $panelWidth
			max-width: $panelWidth
			overflow-y: auto
			overflow-x: hidden
			padding: $panelPadding
			padding-right: $panelPadding + $wizard-tabWidth
			background-color: lightgrey

		#panel-container
			flex: 1
			width: $panelWidth
			max-width: $panelWidth
			// border-left: solid lightgrey 2px
			padding: 10px
			overflow: visible // ← must be this!
			overflow-y: auto
			overflow-x: hidden


.title
	margin: 0;
	margin-bottom: 0.3em


// TYPOGRAPHY
body
	font-size: $baseFontSize


span.disabled
	color: #ccc


svg.graph
	width: 100%
	height: 100%

	transition: background-color 0.5s
	background-color: $trespass_grey_medium

	*
		user-select: none
		pointer-events: auto

	&.open
		background-color: $bgcolor

	&.panning
		background-color: lighten($bgcolor, 10%)

	&.panning, &.pannable
		&, *
			cursor: move

	&.panning, &.not-editable
		*
			pointer-events: none
			user-select: none


#map
	height: 100%

#minimap
	width: 100%
	height: 200px

	.minimap-visible-rect
		fill: rgba(255, 0, 0, 0.2)
		stroke: red
		pointer-events: all


#html
	position: relative
	top: -100%
	&, & > div
		pointer-events: none
		width: 100%

	div *
		pointer-events: auto


#add-file
	position: fixed
	top: -100px
	left: -100px



.panel-section
	margin-bottom: 2em

	.title
		margin: 0
		line-height: 0.7em


@import 'components.styl'
@import '../icons/icons.styl'
@import 'node.styl'
@import 'edge.styl'
@import 'group.styl'
@import 'background-image.styl'
@import 'main-menu.styl'
@import 'context-menu.styl'
@import 'props-panel.styl'
@import 'wizard.styl'
@import 'graph-outline.styl'
@import 'attacker-profile-editor.styl'


.loader
	display: inline-block
	height: 20px
	transform: translateX(20px)
	.spinner
		position: relative !important
		div > div
			background-color: $trespass_red !important



.predicate-editor
	ul
		font-size: 14px
		font-weight: 500




// body {
//     overflow-y: hidden;
//     overflow-x: hidden;
// 	margin: 0 0;
//     font-family: 'Source Sans Pro', sans-serif;
// }
.content {
    display: flex;
	flex-direction: row;
	// width: 100vw;
}

.navigation {
    padding-left: 10px;
    padding-right: 10px;
    width: 25vw;
    background-color: #f0f0f0;
    // height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
#nav-title {
    font-size: 1.5em;
    font-weight: 500;
}

#analyzer-list {

}
#analyzer-list table {
    font-size: 1.25em;
    width: 100%;
}

#analyzer-list thead {
    font-style: italic;
}

#analyzer-list {
    margin: 10px;
}

#analyzer-list tbody tr {
    background-color: lightgray;
/*    color: whitesmoke;*/
}

#analyzer-list .bar {
	pointer-events: none;
}

#analyzer-list td {
/*    padding-left: 10px;*/
    height: 1px;
    width: 50%;
    padding-right: 2px;
}

#eval-chart {
}

#eval-chart .axis line,
.axis path {
    shape-rendering: crispEdges;
    stroke: gray;
    fill: none;
}

#eval-chart .axis {
    fill: gray;
}

#eval-chart .axis-label {
    fill: gray;
}
#eval-chart circle {
    fill: black;
}
#eval-chart .connect-line {
    stroke: #00091f;
    stroke-width: 2;
    fill: none;
}
#eval-chart .node {
    cursor: pointer;
}
#eval-chart .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
#eval-chart .node text {
    font: 12px sans-serif;
}
#eval-chart .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/* Tree */
.node circle {
	fill: #fff;
	stroke: gray;
	stroke-width: 3px;
}
.node text {
	font-size: 12px;
}
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

#tree {
	display: block;
	width: 75vw;
}



// UsageHint
.usage-hint
	.alert[role=alert]
		display: inline-block;

		strong
			color: 'black'
			font-weight: 'bold'
			margin-right: 0.5em

		font-size: 12px
		padding: 0
		padding-left: 0.5em
		padding-right: 0.5em
		margin: 0
		margin-bottom: 3px



.recent-models
	ul
		padding: 0
		list-style: none

	li
		clear: both

	.title
		margin-bottom: 0px

	.date
		color: $trespass_grey_light

	.FlexTable__row:hover
		background-color: $trespass_red
		cursor: pointer


.FlexTable__headerColumn:first-of-type, .FlexTable__rowColumn:first-of-type {
	margin-left: 0px;
}

.FlexTable__headerColumn, .FlexTable__rowColumn {
	margin-right: 0px;
}

.FlexTable__headerRow {
	text-transform: capitalize;
}
