@import 'kouto-swiss'

@import 'variables.styl'
@import $bootstrap-path
@import $fontawesome-path

@import 'common.styl'


// LAYOUT
*
	box-sizing: border-box

body
	margin: 0
	padding: 0
	width: 100%
	height: 100vh
	background: white
	position: relative
	overflow: hidden


#app
	position: absolute
	width: 100%
	height: 100%
	overflow: hidden

	#container
		display: flex
		height: 100%

		#map-container, #panel-container, .graph-container
			height: 100%

		#map-container
			flex: 1

		#model-debug-view
			flex: 1
			width: $panelWidth
			max-width: $panelWidth
			overflow-y: auto
			overflow-x: hidden
			padding: $panelPadding
			padding-right: $panelPadding + $wizard-tabWidth
			background-color: lightgrey

			.title
				margin-bottom: 0.3em

		#panel-container
			flex: 1
			width: $panelWidth
			max-width: $panelWidth
			// border-left: solid lightgrey 2px
			padding: 10px
			overflow: visible // ← must be this!
			overflow-y: auto



// TYPOGRAPHY
body
	font-size: $baseFontSize


span.disabled
	color: #ccc


svg.graph
	width: 100%
	height: 100%
	background-color: $bgcolor

	*
		user-select: none
		pointer-events: auto

	&.panning
		background-color: lighten($bgcolor, 10%)

	&.panning, &.pannable
		&, *
			cursor: move

	&.panning, &.not-editable
		*
			pointer-events: none
			user-select: none


#map
	height: 100%

#minimap
	width: 100%
	height: 200px

	.minimap-visible-rect
		fill: rgba(255, 0, 0, 0.2)
		stroke: red
		pointer-events: all


#html
	position: relative
	top: -100%
	&, & > div
		pointer-events: none
		width: 100%

	div *
		pointer-events: auto


#add-file
	position: fixed
	top: -100px
	left: -100px



.panel-section
	margin-bottom: 2em

	.title
		margin: 0
		line-height: 0.7em


@import 'components.styl'
@import '../icons/icons.styl'
@import 'node.styl'
@import 'edge.styl'
@import 'group.styl'
@import 'background-image.styl'
@import 'main-menu.styl'
@import 'context-menu.styl'
@import 'props-panel.styl'
@import 'wizard.styl'
@import 'graph-outline.styl'
