.not-editable
	.node-group
		cursor: auto
		.node:hover
			stroke-width: 0px

.node-group
	cursor: pointer

	.node
		fill: $nodeFill
		opacity: 1
		stroke: black
		stroke-width: 0px
		&.hover
			fill: $nodeFillSelected
		&.selected
			fill: $nodeFillSelected

	.port-group
		.port
			fill: white
			stroke: black
			stroke-width: 2px
		.spiral
			font-family: 'icons'
			fill: black
			text-anchor: middle
			alignment-baseline: middle
			font-size: 14px

	.label, .icon
		fill: black
		text-anchor: middle
		alignment-baseline: middle
		pointer-events: none
	.label
		font-size: $baseFontSize
		font-family: $font
	.icon
		font-size: 28px
