#propspanel
	.title
		margin-bottom: 0.3em

	form
		font-size: 14px
	.form-control
		height: 22px
		margin-top: 2px
		margin-bottom: 2px

		// ie fix
		padding: 0px 7px

	label
		margin-bottom: 0
		font-weight: bold
		white-space: nowrap

	table
		td:first-child
			padding-right: 0.5em
			text-align: right
		td:last-child
			span
				padding-left: 8px

	.kb
		padding: 5px
		background-color: $trespass_grey
