@import 'node_modules/react-selectize/themes/bootstrap3.css'

.react-selectize
	// border-bottom: solid 2px black;
	width: auto !important;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;

	&, *
		// font-size: $baseFontSize !important;
		font-size: $baseFontSize;

	.value-wrapper
		padding-right: 2px;

.react-selectize-control
	border: none !important;
	border-radius: 0px !important;
	padding: 0 !important;

.react-selectize-placeholder
	position: static !important;
	overflow: visible !important;
	text-indent: 0 !important;
	padding-right: 5px !important;

.react-selectize-reset-button-container
	display: none !important;

.react-selectize-toggle-button-container
	width: auto !important;
	margin-left: -5px;

.react-selectize-toggle-button
	background: none !important;

.react-selectize-search-field-and-selected-values
	padding-left: 0px !important;
