@import 'node_modules/react-selectize/themes/bootstrap3.css'

.react-selectize.root-node
	width: auto !important;

// .react-selectize-control
// 	// background: white;
// 	display: inline-flex !important;
// 	border: none !important;
// 	border-radius: 0px !important;
// 	border-bottom: solid 2px black;

// .react-selectize-reset-button-container
// 	display: none !important;

// .react-selectize-toggle-button-container
// 	width: auto !important;

// .react-selectize-toggle-button
// 	background: none !important;
