#task-overlay
	background-color: rgb(255, 255, 255)
	z-index: 999999
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflowY: auto
	overflowX: hidden
	display: flex
	align-items: center
	justify-content: center

	.close-x
		position: fixed
		top: 0
		right: 0
		padding: 20px
		font-size: 60px
		line-height: 20px
		color: $trespass_red
		cursor: pointer

	.completed
		font-weight: 500 !important
	.result-link
		font-size: $baseFontSize !important
	.current
		font-weight: 600 !important
	.error
		color: $trespass_red;
	.pending
		font-weight: 500 !important
