$icon-font-path = '../fonts/'
$bootstrap-path = 'bower_components/bootstrap-stylus/bootstrap/index.styl'
$fontawesome-path = 'bower_components/Font-Awesome-Stylus/stylus/index.styl'

$baseFontSize = 16px
$font = 'SourceSansPro', sans-serif

$panelPadding = 10px
$panelWidth = 300px

$bgcolor = rgb(50, 50, 50)

// wizard
$tabWidth = 50px

// node
$selectedFill = orange

// edge
$selectedStroke = orange
