$icon-font-path = '../fonts/'
$bootstrap-path = 'bower_components/bootstrap-stylus/bootstrap/index.styl'
$fontawesome-path = 'bower_components/Font-Awesome-Stylus/stylus/index.styl'

$baseFontSize = 16px
$font = 'SourceSansPro', sans-serif

$panelPadding = 10px
$panelWidth = 300px

$trespassRed = rgb(255, 40, 0)
$bgcolor = rgb(50, 50, 50)
$highlightColor = $trespassRed

// wizard
$wizard-tabWidth = 40px
$wizard-selectedColor = $highlightColor
// $wizard-prevColor = rgb(240, 240, 240)
$wizard-prevColor = white
$wizard-nextColor = rgb(100, 100, 100)

// node
$selectedFill = $highlightColor

// edge
$selectedStroke = $highlightColor
