$icon-font-path = '../fonts/'
$bootstrap-path = 'node_modules/bootstrap-styl/bootstrap/index.styl'
$fontawesome-path = 'node_modules/font-awesome-stylus/stylus/index.styl'

$baseFontSize = 16px
$font = 'SourceSansPro', sans-serif

$panelPadding = 10px
$panelWidth = 300px

// $resultsPanelWidth = 400px
$resultsPanelWidth = $panelWidth

// colors
$trespass_red = rgb(255, 40, 0);
$trespass_grey = rgb(237, 237, 235);
$trespass_black = rgb(17, 17, 14);
$trespass_grey_light = mix($trespass_grey, $trespass_black, 75%);
$trespass_grey_medium = mix($trespass_grey, $trespass_black, 50%);
$trespass_grey_dark = mix($trespass_grey, $trespass_black, 25%);
$trespass_grey_darker = mix($trespass_grey, $trespass_black, 15%);

// $bgcolor = $trespass_grey_darker
// $bgcolor = mix($trespass_grey, $trespass_grey_medium, 50%)
$bgcolor = $trespass_grey_light
$highlightColor = $trespass_red


// wizard
$wizard-tabWidth = 40px
$wizard-selectedColor = $highlightColor

// node
$nodeFill = rgb(128, 128, 128)
$nodeFillSelected = $trespass_red

// group
$groupFill = alpha(white, 35%)
$groupFillSelected = $groupFill
$groupStrokeSelected = $trespass_red
$groupLabelColor = rgb(235, 235, 235)

// edge
$edgeStroke = alpha(black, 20%)
$edgeStrokeSelected = alpha($trespass_red, 100%)


$brand-primary = $trespass_red


$panelGapHeight = 6px
