#wizard-container
	// position: relative
	overflow-y: auto

	#steps-container
		position: absolute
		top: 0
		right: $panelWidth

		height: 100%
		display: flex
		flex-direction: column
		// align-items: center
		justify-content: center

		.step-icon
			width: $wizard-tabWidth
			// height: $wizard-tabWidth
			padding: 4px
			padding-right: 0
			z-index: 999
			cursor: pointer
			// ----
			// word-wrap: break-word
			// font-size: 10px
			// line-height: 1em
			margin-bottom: 5px
			// ----
			border-radius: ($wizard-tabWidth / 2) 0 0 ($wizard-tabWidth / 2)

		.step-icon img
			width: 100%

		// currently selected one
		.step-icon.selected
			background-color: $wizard-selectedColor

		// all the ones before selected one
		.step-icon.selected ~ .step-icon
			background-color: $wizard-prevColor

		// all the ones after selected one
		.step-icon
			background-color: $wizard-nextColor

		// visited ones: override everything else
		.step-icon.visited
			background-color: orange !important


.tooltip
	.tooltip-inner
		font-size: $baseFontSize
