#wizard-container
	// position: relative

	h2.title
		color: $trespass_red

	#steps-container
		position: absolute
		top: 0
		right: $panelWidth
		// right: $panelWidth - ($panelPadding / 2)

		height: 100%
		display: flex
		flex-direction: column
		// align-items: center
		justify-content: center

		.step-icon
			width: $wizard-tabWidth
			// height: $wizard-tabWidth
			padding: 4px
			padding-right: 0
			z-index: 999
			cursor: pointer
			// ----
			// word-wrap: break-word
			// font-size: 10px
			// line-height: 1em
			margin-bottom: 5px
			// ----
			border-radius: ($wizard-tabWidth / 2) 0 0 ($wizard-tabWidth / 2)

		.step-icon img
			width: 100%

		transition: opacity 0.5s
		.step-icon.disabled
			cursor: default
			opacity: 0.0

		// currently selected one
		.step-icon.selected
			background-color: $wizard-selectedColor
			img
				opacity: 1

		// all the ones after selected one
		.step-icon.selected ~ .step-icon
			img
				opacity: 1

		// all the ones before selected one
		.step-icon
			background-color: white
			img
				opacity: 0.25

		// visited ones: override everything else
		.step-icon.visited
			background-color: orange !important


.tooltip
	.tooltip-inner
		font-size: $baseFontSize
