#wizard-container
	// position: relative

	h2.title
		color: $trespass_red

	#steps-container
		position: absolute
		top: 0
		right: $panelWidth
		// right: $panelWidth - ($panelPadding / 2)

		height: 100%
		display: flex
		flex-direction: column
		// align-items: center
		justify-content: center

		.step-icon
			font-size: 32px
			line-height: 0px
			color: white
			width: $wizard-tabWidth
			margin-right: 4px
			// margin-top: 1px
			// margin-bottom: 1px
			padding: 4px
			// padding-right: 4px
			// padding-top: 2px
			// padding-bottom: 2px
			z-index: 999
			cursor: pointer
			$radius = ($wizard-tabWidth / 2)
			border-radius: $radius
			opacity: 1

		.step-icon img
			width: 100%

		transition: opacity 0.5s

		.step-icon.disabled
			cursor: default
			opacity: 0.25
			background-color: transparent !important

		.step-icon.error
			color: rgba($trespass_red, 0.5)

		// currently selected one
		.step-icon.selected
			color: $wizard-selectedColor

		// all the ones after selected one
		.step-icon.selected ~ .step-icon
			//

		// all the ones before selected one
		.step-icon
			//

		// visited ones: override everything else
		.step-icon.visited
			// background-color: orange !important


.tooltip
	.tooltip-inner
		font-size: $baseFontSize
		background-color: white
		color: $trespass_black

	&.bottom .tooltip-arrow
		border-bottom-color: white
	&.top .tooltip-arrow
		border-top-color: white
	&.left .tooltip-arrow
		border-left-color: white
	&.right .tooltip-arrow
		border-right-color: white
