{
	"env": {
		"es6": true,
		"node": true,
		"jquery": true,
		"browser": true
	},

	"plugins": ["react"],

	"ecmaFeatures": {
		"jsx": true
	},

	"globals": {
	},

	"rules": {
		"camelcase": 0,
		"comma-dangle": 0,
		"dot-notation": 0,
		"eqeqeq": 1,
		"key-spacing": 1,
		"new-cap": 1,
		"no-extra-boolean-cast": 0,
		"no-mixed-spaces-and-tabs": 0,
		"no-multi-spaces": 0,
		"no-use-before-define": 1,
		"no-shadow": 1,
		"no-underscore-dangle": 0,
		"no-unused-vars": 1,
		"quotes": [1, "single"],
		"space-infix-ops": 0
	}
}
