{
	"env": {
		"es6": true,
		"node": true,
		"jquery": true,
		"browser": true
	},

	"plugins": ["react"],

	"ecmaFeatures": {
		"jsx": true
	},

	"globals": {
	},

	"rules": {
		"camelcase": 0,
		"comma-dangle": 1,
		"new-cap": 1,
		"no-shadow": 1,
		"no-unused-vars": 1,
		"quotes": [1, "single"]
	}
}
