node_modules
dist
dist__*
.tmp
*.sublime-project
*.sublime-workspace
app/icons/icons
.fontcustom-manifest.json
axel-test
build
_old
sketches
manual
demo.js
app/images/icomoon/demo.html
app/images/icomoon/Read Me.txt
app/images/icomoon/selection.json
app/images/icomoon/style.css
